table.table-colorscheme1 {
    width: 100%;

    thead {
        th {
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            color: #000;
            font-weight: bold;
        }
    }

    tbody {
        td, th[scope] {  /* this table is weird: not striped, with white separation; tip: border-collapse applies to first+last too, throwing off pixel-perfect alignment to other stuff */
            background-color: #e6eaff;
            line-height: 20px;
            font-size: 16px;
            font-weight: 400;
            color: #000;
            border-bottom: 5px solid white;
        }
        th:not(:last-child),
        td:not(:last-child) {
            border-right: 5px solid white;
        }

        span[data-statistic="lciuci"] {  /* exception: subtext in a cell, with special colors */
            // color: #666666;
            color: #000;
            font-size: 16px;
        }
    }
}

table.table-colorscheme2 {
    width: 100%;

    thead {
        th {
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            color: #000;
            font-weight: bold;
        }
    }

    span.title, span.subtitle {
        color: #000000;
    }

    tr:nth-child(odd) {
        td, th[scope] {
            color: #000000;
            background-color: #feecd4;
        }
    }
    tr {
        td, th[scope] {
            color: #000000;
            font-weight: 400;
            text-align: left;
        }
    }

    th:not(:last-child),
    td:not(:last-child) {
        border-right: 5px solid white;
    }
    th[data-region="cta"] {
        font-weight: bold;
    }
    th[data-region="cta"], td[data-region="cta"] {
        color: #000000;
    }
    th[data-region="state"] {
        font-weight: bold;
    }
    th[data-region="state"], td[data-region="state"] {
        color: #000000;
    }
    th[data-region="nation"] {
        font-weight: bold;
    }
    th[data-region="nation"], td[data-region="nation"] {
        color: #000000;
    }

    /* help make the column widths more consistent */
    tbody th {
        width: 40%;
    }
    tbody td {
        width: 20%;
    }
}
