/*
 * INCIDENCE RATE TABLE
 */

#incidence-readouts {
    /* those UCI/LCI dot chart things, sort of like candle charts but they aren't */
    td.ucilcicandlechartcell {
        width: 40%;
        padding-right: 10%;
    }
    span.ucilcicandlechart {
        width: 100%;

        display: inline-block;
        height: 11px;

        position: relative;
        span.fullrangeline {  /* 1px line through the middle, indicating the full range */
            background-color: #6472B9;
            position: absolute;
            top: 5px;
            width: 100%;
            height: 1px;
        }
        span.ucilcirangeline {  /* thicker line through the indicated range for this area */
            background-color: #6472B9;
            position: absolute;
            top: 3px;
            height: 5px;
            left: 0;  /* overridden in code*/
            width: 100%;  /* overridden in code*/
        }
        span.aairpoint {
            background-color: #6472B9;
            position: absolute;
            height: 11px; width: 11px;  /* width means radius means calculating offset to put its center at the indicated left; see code */
            border-radius: 50%;
            left: 0;  /* overridden in code*/
        }
    }
}
