/*
 * DOWNLOAD
 * a .btn which itself has links inside it, pretty atypical behavior
 */

#downloadbutton {
    width: 170px;
    max-width: 170px;
    min-width: 170px;
}


/* in order to make it expand over top of the map below, need absolute positioning and fixed width */
#downloadoptions {
    background-color: #293985;
    color: white;

    border-radius: 4px;
    padding: 10px;

    width: 170px;
    max-width: 170px;
    min-width: 170px;

    a {
        display: block;
        color: white;
        &:active, &:hover {
            color: #e5e5e5;
        }
    }

    position: absolute;
    top: 30px;
    right: 157px;
    z-index: 1000000;
}
