/*
 * DATA FILTERING UI
 */

div.data-filters {
    div.filter-control,
    div.filter-action {
        margin-bottom: 10px;
    }
    span.input-group-text {
        border: 1px solid #666666;
    }

    input[type="text"], select {
        width: 100%;
        border-radius: 5px;
        background-color: white;
        color: #000000;
        border: 1px solid #666666;
        padding: 2px 5px;
    }
    select {
        height: 32px;  /* match height of the text box */
    }
    label {
        margin-bottom: 0px;
    }

    input:focus,
    select:focus {
        outline: 0;
        box-shadow: 0 0 0 .2rem #D27700;
    }
}


#places-area {
    margin-top: 20px;
    padding: 5px 5px;
}

#map-table-textfilter {
/*
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    border: 1px solid #666;
    padding: 2px 5px;
*/
}
