.choropleth-legend {
}

.choropleth-legend .choropleth-legend-picker {
}

.choropleth-legend .choroplethlegend-picker-wrapper {
    margin-bottom: 1em;
}

.choropleth-legend .choropleth-legend-gradientlegend {
    display: flex;
}

.choropleth-legend .choropleth-legend-twoparts {
    display: flex;
}

.choropleth-legend .choropleth-legend-legendgradient {
    width: 200px;
    height: 20px;
    background-image: linear-gradient(to right, white, black); /* this is a fallback; colors will be set by performSearchMap() and CHOROPLETH_OPTIONS */
}
.choropleth-legend .choropleth-legend-legendgradient::after {
    content: "";
    clear: both;
    display: table;
}

.choropleth-legend .choropleth-legend-minvalue {
    float: left;
    padding-right: 1em;
}
.choropleth-legend .choropleth-legend-maxvalue {
    float: right;
    padding-left: 1em;
}

.choropleth-legend .choropleth-legend-nodata {
    padding-left: 3em;
}
.choropleth-legend .choropleth-legend-swatch-nodata {
    display: inline-block;
    height: 1em;
    width: 1em;
    background-color: #cccccc;
}
.choropleth-legend .choropleth-legend-nodata-explanation {
    font-size: 12px;
    line-height: 1.5;
}
