/*
 * AAIR BARCHART AND TABLE
 */

#incidence-barchart-table {
    width: 100%;

    thead {
        th {
            font-size: 16px;
            line-height: 16px;
            text-align: center;
            color: #000;
            font-weight: bold;
        }
    }

    tbody {
       
        td, th[scope] {  /* this table is weird: not striped, with white separation; tip: border-collapse applies to first+last too, throwing off pixel-perfect alignment to other stuff */
            background-color: #e6eaff;
            line-height: 20px;
            font-size: 16px;
            font-weight: 400;
            color: #000;
            border-bottom: 5px solid white;
            &:first-child, &:nth-child(2), &:nth-child(3) {
                border-right: 5px solid white;
            }
        }

        span[data-statistic="lciuci"] {  /* exception: subtext in a cell, with special colors */
            // color: #666666;
            color: #000;
            font-size: 16px;
        }
    }
}

#filters-and-aairbarchart {
    li.nav-item {
        .nav-link {
            padding: .5rem;
        }

        a {
            background-color: #e6eaff;
            color: #000000;
            border-radius: 0;
            text-decoration: none;
            margin-right: 10px;
        }

        a.active {
            background-color: #293985;
            color: white;
        }
    }
}
