#demographic-tables {
    margin-top: 40px;

    @media print {
        page-break-before: always;
    }

    > span[role="heading"] {
        padding-right: 0.3rem;
        padding-left: 0.3rem;
    }
}
